.createOrganizationWrapper {
  min-width: 800px;
  align-self: center;
}

.createOrganizationButton {
  margin-top: 5px;
}

.inviteInput {
  width: 500px;
}

.invalidEmail {
  color: #e53935;
}

.orgDescription {
  max-width: 800px;
  min-height: 150px;
}

.createOrgSubmit {
  margin-right: 20px;
}
