.flexComponent {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.flexCenter {
  align-items: center;
  justify-content: center;
}

.componentPadding {
  padding: 25px;
}

.organizationsHeading h3 {
  margin: 5px 0;
}

.orgDetailsWrapper {
  width: 500px;
}

.detailSection {
  margin: 20px 0;
}

.headerContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.organizationsSelect {
  width: 500px;
}

.orgTitleSectionWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orgTitleOwnerWrapper {
  display: flex;
  align-self: flex-start;
}

.orgIsOwnerLabel {
  margin-left: 20px;
  margin-top: 24px;
}

.orgJoinButton {
  align-self: center;
}

.roleRowWrapper {
  padding: 0;
}

.roleRow {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.roleRowItem {
  padding: 10px 15px;
  border-left: 1px solid #dddddd;
}

.roleRowItem button {
  border: none;
  background-color: transparent;
}

.roleRowItem button:focus {
  outline: 0;
}

.roleRowItemId {
  border: none;
  flex: 10 0 auto;
}

.roleRowItemEdit {
  color: #1976d2;
}

.roleRowItemEdit:hover {
  cursor: pointer;
}

.roleRowItemDelete {
  color: #e53935;
}

.roleRowItemDelete:hover {
  cursor: pointer;
}

.roleRowItemAdd {
  border: none;
  padding: 0 15px;
  flex: 1 0 auto;
}

.roleRowItemAddInput {
  color: #43a047;
  margin: 0;
  display: flex;
  align-items: center;
}

.roleRowItemAddInput input {
  border: 0;
  box-shadow: none;
  padding: 0 !important;
}

.roleRowItemAddInput input:focus {
  border: 0;
  box-shadow: none;
}

.roleRowItemAddButton {
  color: #43a047;
}

.addMemberWrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addMemberMemberSelectWrapper {
  min-width: 500px;
  flex: 1 0 auto;
}

.addMemberRoleSelectWrapper {
  width: 200px;
  padding: 0 20px;
  flex: 1 0 auto;
}
