{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "brace-style": [2, "stroustrup"],
    "comma-dangle": [2, "never"],
    "padded-blocks": 0,
    "max-len": [
      2,
      {
        "code": 120,
        "tabWidth": 2,
        "ignoreUrls": true,
        "ignoreComments": false
      }
    ],
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": 0,
    "react/sort-comp": 0
  },
  "settings": {
    "import/extensions": [".js", ".jsx"]
  }
}
