.profileFormWrapper {
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.header {
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: black;
  background: #eee;
  padding: 10px 0 0 20px;
  border-bottom: 1px solid #ccc;
}

.formRow {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sectionContent {
  padding: 20px;
}

.controlLabel, .formControl, .contentLabel {
  font-size: 16px;
}

.controlLabel {
  flex: 1 0 0;
  text-align: right;
  padding: 0 10px;
}

.formControl {
  flex: 2 0 0;
}
