.profileFormWrapper {
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.header {
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: black;
  background: #eee;
  padding: 10px 0 0 20px;
  border-bottom: 1px solid #ccc;
}

.formRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.sectionContent {
  padding: 20px;
}

.controlLabel,
.formControl,
.contentLabel,
.uneditableField {
  font-size: 16px;
}

.uneditableField {
  height: 34px;
  border-radius: 3px;
  color: grey;
  position: relative;
}

.uneditableFieldContent {
  position: absolute;
  top: 5px;
}

.secureField {
  border: 1px dashed grey;
  position: relative;
}

.dots {
  margin: 8px;
  float: left;
  font-family: Symbola, serif;
  -webkit-text-security: disc;
  letter-spacing: 3px;
}

.copyButton {
  border: 1px solid #ccc;
  width: 60px;
  background: #eee;
  position: absolute;
  right: 0;
  margin: 5px;
  text-align: center;
  float: right;
  color: #555;
}

.copyButton:hover {
  cursor: pointer;
}

.controlLabel {
  -webkit-box-flex: 1 0 0;
  -webkit-flex: 1 0 0;
  -ms-flex: 1 0 0;
  flex: 1 0 0;
  text-align: right;
  padding: 0 10px;
}

.formControl, .uneditableField {
  -webkit-box-flex: 2 0 0;
  -webkit-flex: 2 0 0;
  -ms-flex: 2 0 0;
  flex: 2 0 0;
}
