.photoUploadWrapper {
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 40px;
  position: relative;
}

.header {
  width: 100%;
  height: 40px;
  font-size: 18px;
  color: black;
  background: #eee;
  padding: 10px 0 0 20px;
  border-bottom: 1px solid #ccc;
}

.contentWrapper {
  display: flex;
  align-items: center;
}

.photoWrapper {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.uploadButton {
  margin: 20px;
}
