.sideNav {
  border-right: none;
  display: flex;
  flex-direction: column;
  background: #404345;
}

.sideNavLink {
  text-decoration: none;
}

.sideNavItem {
  border-bottom: solid 1px #757778;
}
.sideNavItem > a {
  color: #ffffff;
  height: 80px;
  width: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  text-decoration: none;
}
.sideNavItem > a:hover, .sideNavItemSelected {
  background: #333435;
  color: #ffffff;
}

.sideNavItemIcon {
  width: 100%;
  text-align: center;
  font-size: 10px;
  margin-bottom: 2px;
}

.sideNavItemText {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
}

.sideNavIcon {
  height: 25px;
}

.support, .support :visited {
  text-align: center;
  color: #ffffff;
  width: 100px;
  font-size: 10px;
  font-weight: 300;
  height: 20px;
  margin: 10px 0;
}

.spacer {
  flex: 1
}
