th {
  font-weight: bold;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}


/* navbar */

.edmNavbarContainer {
  text-align: center;
  padding-top: 15px;
}

.edmNavbar {
  height: 30px;
  background: #d1d6da;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  border-radius: 4px;
}


/*  page sectioning */

.edmContainer {
  left: 20px;
  margin-left: 50px;
  padding: 20px;
}

.inputBox {
  height: 40px;
  padding: 0 10px;
}

.primaryKeyInput {
  height: 40px;
  width: 200px;
}


/* text styling */

.name {
  font-size: 24px;
  color: #404446;
  display: inline;
}

.subtitle {
  display: inline;
  font-size: 14px;
  color: #404446;
}

.errorMsg {
  color: red;
  padding-top: 10px;
}


/* spacers */

.spacerMini {
  height: 5px;
}

.spacerSmall {
  height: 15px;
}

.spacerMed {
  height: 20px;
}

.spacerBig {
  height: 40px;
}

.spacerMargin {
  margin: 10px;
}

.spacerLeft {
  padding-left: 7px;
  display: inline;
}


/* table styling */

.tableCell {
  padding: 5px 10px;
  color: #767a7c;
  border: 1px solid #d1d6da;
  height: 30px;
  min-width: 185px;
}

tr:first-child .tableCell {
  border: none;
}

.tableRows {
  padding: 5px 10px;
}

.primaryKey {
  color: gray;
  padding-left: 6px;
}


/* button styling */

.buttonStyle {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  padding: 10px;
  border: none;
  background: #d1d6da;
}

.buttonStyle:hover {
  background: #c7cbcf;
}

.selectedButtonStyle {
  background: #b9bdc0;
  font-weight: bold;
}

.firstEdmButton {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.lastEdmButton {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.selectedButtonStyle:hover {
  background: #a0a4a6;
}

.deleteButton {
  background: -webkit-linear-gradient(#e00d18, #d30c17);
  border: 0;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  color: white;
  box-shadow: 1px 1px 1px #767a7c;
  margin: 3px;
}

.deleteButton:hover {
  background: #b90b14
}

.addButton {
  background: -webkit-linear-gradient(#0ab053, #09a34d);
  border: 0;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  color: white;
  box-shadow: 1px 1px 1px #767a7c;
  margin: 5px 3px 3px 3px;
}

.addButton:hover {
  background: #088941;
}

.genericButton {
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #767a7c;
  background: -webkit-linear-gradient(#dddddd, #d1d6da);
}

.genericButton:hover {
  background: #d8dcdf;
}

.simpleButton {
  margin-left: 5px;
  position: relative;
  display: inline-block;
  margin-right: 10px;
  height: 35px;
  top: 15%;
  background: #d1d6da;
  border-radius: 3px;
  border: 0;
  padding: 0 10px;
}

.simpleButton:hover, .cancelButton:hover {
  background: #d8dcdf;
}

.permissionButton {
  border: none;
  background: #5b5f66;
  color: white;
  border-radius: 3px;
  padding: 8px 15px;
  vertical-align: middle;
}

.permissionButton:hover {
  background: #494c52;
}

.requestPermissionWrapper {
  vertical-align: middle;
  text-align: right;
}

.dropdownButtonContainer {
  text-align: right;
}


/* utils */

.center {
  text-align: center;
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;
}

.permissionInputWidth {
  width: 200px;
}

.padTop {
  padding-top: 10px;
}

.padLeft {
  padding-left: 10px;
}


/* permissions panel */

.updateSuccess {
  color: green;
  padding-top: 10px;
}

.panelContainer {
  position: fixed;
  left: 100px;
  right: 100px;
  top: 80px;
  bottom: 40px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 0 5px 2px #eee;
  -moz-box-shadow: 0 0 5px 2px #eee;
  box-shadow: 0 0 5px 2px #eee;
  border: 1px solid #e3e3e3;
  text-align: center;
  z-index: 1;
}

.permissionsBodyContainer {
  margin: 0 auto;
  height: 200px;
  width: 300px;
  overflow: scroll;
  text-align: left;
  padding-top: 5px;
  border: 1px solid #d1d6da;
}

.cancelButton {
  position: absolute;
  vertical-align: middle;
  font-size: 20px;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  background: #d1d6da;
  border-radius: 3px;
  border: 0;
  padding-bottom: 15px;
}

.panelTitle {
  margin-top: 25px;
  font-weight: bold;
  font-size: 20px;
  text-align: center
}

.panelContents {
  margin-top: 35px;
  text-align: center;
}

.viewWrapper {
  text-align: center;
}

.dropdownWrapper {
  width: 150px;
  margin: 0 auto;
}
