th {
  font-weight: bold;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

.edmContainer {
  left: 20px;
  margin-left: 50px;
  padding: 20px;
}

.name {
  font-size: 24px;
  color: #404446;
}

.descriptionLabel {
  display: inline;
  color: gray;
}

.subtitle {
  display: inline;
  font-size: 14px;
  color: #404446;
}

.tableDescriptionLabel {
  color: gray;
}

.spacerSmall {
  height: 15px;
}

.spacerMed {
  height: 20px;
}

.spacerBig {
  height: 40px;
}

.spacerMargin {
  margin: 10px;
}

.tableCell {
  padding: 5px 10px;
  color: #767a7c;
  border: 1px solid #d1d6da;
}

tr:first-child .tableCell {
  border: none;
}

.tableRows {
  padding: 5px 10px;
}

.primaryKey {
  color: gray;
  padding-left: 6px;
}

.buttonStyle {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  padding: 10px;
  border: none;
}

.buttonStyle:hover {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  padding: 10px;
  border: none;
  background: #aaaaaa;
}

.selectedButtonStyle {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  padding: 10px;
  border: none;
  background: gray;
  font-weight: bold;
}

.edmNavbarContainer {
  text-align: center;
  padding-top: 15px;
}

.edmNavbar {
  height: 30px;
  background: #f6f6f6;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
}

.center {
  text-align: center;
}

.errorMsg {
  color: red;
  padding-top: 10px;
}

.hidden {
  display: none;
}

.inputBox {
  height: 30px;
  padding: 0 10px 0 10px;
}

.downloadOptionSelect {
  position: absolute;
  right: 50px;
  max-width: 200px;
}

.deleteButton {
  background: #d30c17;
  border: 0;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  color: white;
}

.addButton {
  background: #09a34d;
  border: 0;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  color: white;
  margin-top: 5px;
}

.genericButton {
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #767a7c;
  background: -webkit-linear-gradient(#dddddd, #d1d6da);
}

.genericButtonMargin {
  padding: 10px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #767a7c;
  background: -webkit-linear-gradient(#dddddd, #d1d6da);
  margin: 10px;
}

.dropdownButtonContainer {
  text-align: right;
}
