/* utils */

.hidden {
  display: none;
}

/* topbar */

.topbarContainer {
  height: 50px;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  vertical-align: middle;
  box-shadow: 1px 1px 20px #eeeeee;
  z-index: 1;
}

.logo {
  max-width: 80%;
  max-height: 80%;
  padding-left: 15px;
}

.loom {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  height: 60%;
  top: 30%;
  color: #525557;
  font-size: 20px;
}

.loggedInItemsContainer {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  color: #404446;
}

.greeting {
  position: relative;
  display: inline-block;
  font-size: 14px;
  height: 70%;
  margin: 10px;
  padding: 0;
}

.logoutButton {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  height: 70%;
  background: #d1d6da;
  border-radius: 3px;
  border: 0;
  padding: 0 10px;
}

.logoutButton:hover {
  background: #d8dcdf;
}

.noAdminButtonFormatting {
  top: 15%;
}

.settingsIcon {
  position: relative;
  height: 60%;
  display: inline;
  border: 0;
  background: none;
  top: 20%;
  padding: 0;
  margin: 0 10px 0 15px;
}

.settingsIconImg {
  position: relative;
  display: inline;
  height: 100%;
}


/* navbar */

.navbarContainer {
  width: 80px;
  background: #f1f5f8;
  height: 100%;
  left: 0;
  position: fixed;
  vertical-align: middle;
  z-index: 0;
  margin-top: 40px;
}

.navButton {
  text-align: center;
  background: none;
  border: none;
  height: 80px;
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: #404446;
  border-bottom: 1px solid #d1d6da;
}

.navButtonSelected {
  background: #b9bdc0;
}

.navButton:hover {
  background: #c7cbcf;
}

.navButtonSelected:hover {
  background: #a8abad;
}

.navButtonIcon {
  width: 60%;
  top: 20%;
  text-align: center;
}

.navButtonText {
  bottom: 2px;
  position: relative;
  font-size: 16px;
}
