
/* topbar */

.topbarContainer {
  height: 50px;
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  vertical-align: middle;
  box-shadow: 1px 1px 20px #eeeeee;
  z-index: 1;
}

.logo {
  max-width: 80%;
  max-height: 80%;
  padding-left: 15px;
}

.loom {
  display: inline-block;
  position: relative;
  margin-left: 20px;
  height: 60%;
  top: 30%;
  color: #525557;
  font-size: 30px;
}

.logoutButton {
  position: relative;
  float: right;
  margin-right: 10px;
  height: 70%;
  top: 15%;
  background: #d1d6da;
  color: #404446;
  border-radius: 3px;
  border: 0;
  padding: 0 10px;
}

.logoutButton:hover {
  background: #d8dcdf;
}


/* navbar */

.navbarContainer {
  width: 80px;
  background: #f1f5f8;
  height: 100%;
  left: 0;
  position: fixed;
  vertical-align: middle;
  z-index: 0;
  margin-top: 40px;
}

.navButton {
  text-align: center;
  background: none;
  border: none;
  height: 80px;
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: #404446;
  border-bottom: 1px solid #d1d6da;
}

.navButtonSelected {
  text-align: center;
  border: none;
  height: 80px;
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  color: #404446;
  border-bottom: 1px solid #d1d6da;
  background: #b9bdc0;
}

.navButton:hover {
  background: #c7cbcf;
}

.navButtonSelected:hover {
  background: #a8abad;
}
