.formWrapper {

}

.rowsWrapper {
  margin-bottom: 20px;
}

.labelsRow {
  font-size: 20px;
  margin: 12px;
}

.associationLabel {
  display: inline-block;
}

.directionLabel {
  display: inline-block;
  margin-left: 160px;
}

.entitiesLabel {
  display: inline-block;
  margin-left: 90px;
}

.rowWrapper {
  display: flex;
  padding: 6px 12px;
}

.associationSelect {
  width: 300px;
}

.arrowSelect {
  width: 200px;
}

.entitySelect {
  width: 600px;
}

.addLink {
  margin: 6px 12px 40px 6px;
}

a {
  color: inherit;
  font-size: 16px;
}

.plusIcon {
  color: #4203c5;
  margin-right: 10px;
  vertical-align: middle;
}

.submitButton {
  background: #4203c5;
  color: white;
  font-weight: bold;
  margin: auto;
}
