.loom {
  margin: 0;
  font-size: 18px;
  /* Current Font Supports max 600 weight */
  font-weight: 600;
  letter-spacing: 5px;
  color: #4e5150;
}

.headerNavWrapper {
  background-color: white;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
}

.headerNav {
  border: none;
  padding: 20px;
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
}

.headerNavLeft {
  display: flex;
  align-items: center;
}

.headerNavLeft .headerNavItem {
  margin-right: 20px;
}

.headerNavRight {
  display: flex;
  align-items: center;
}

.headerNavRight .headerNavItem {
  margin-left: 20px;
}

.headerNavItem {
  color: #455a64;
}

.headerNavLink {
  color: #455a64;
  text-decoration: none;
}

.headerNavLink:hover {
  color: #1565c0;
  cursor: pointer;
  text-decoration: none;
}

.hidden {
  display: none;
}
