@import "../../core/styles/index.css";

.permissionButton {
    border: none;
    background: #5b5f66;
    color: white;
    border-radius: 3px;
    padding: 8px 15px;
    vertical-align: middle;
}

.permissionButton:hover {
    background: #494c52;
}

.requestPermissionWrapper {
    vertical-align: middle;
    text-align: right;
}

.permissionRequestStatusMsg {
    width: 100%;
    text-align: right;
    margin: 0 0 10px 0;
}

/* EntitySetList */
.catalog {
    width: 100%;
}

.catalog header {
    background: #f3f5f7;
    padding: 40px 0 30px;
}

.title {
    margin: 0 0 30px;
    font-weight: 600;
}

.filteredEntitySetList {
    width: 100%;
}
.filteredEntitySetList > header {
    background: #f3f5f7;
    padding: 40px 0 25px;
    margin-bottom: 35px;
}
.filteredEntitySetList h1 {
    margin: 0 auto 20px;
    font-weight: 600;

}

.headerContent, .content {
    width: 980px;
    margin: auto;
}