html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body > div {
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Lato', 'Helvetica Neue', 'Open Sans', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  line-height: 18px;
}

.appWrapper {
  color: #455a64;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.appBody {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
}

.appContent {
  background-color: #fafbfc;
  padding: 10px;
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}
