@import "../../../core/styles/index.css";

/* button styling */
.firstEdmButton {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.lastEdmButton {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.description {
  font-size: 14px;

}

.italic {
  font-style: italic;
}
/* Property List & Property */
.verifyDeleteContainer {
  position: fixed;
  height: 160px;
  width: 300px;
  text-align: center;
  background: #f1f5f8;
  top: 50%;
  left: 50%;
  margin-top: -80px;
  margin-left: -150px;
  border: 1px solid #404446;
  color: #404446;
  -webkit-box-shadow: 0 0 5px 2px #eee;
  -moz-box-shadow: 0 0 5px 2px #eee;
  box-shadow: 0 0 5px 2px #eee;
  border-radius: 3px;
}

.buttonContainer {
  text-align: center;
  width: 100%;
  bottom: 10px;
}

.buttonWrapper {
  display: inline-block;
}

.verifyDeleteText {
  position: absolute;
  font-size: 16px;
  margin: 10px;
}

.hidden {
  display: none;
}

.buttonContainer {
  height: 30px;
}

.menuOptionButton {
  border: none;
  background: none;
  padding: 8px 10px;
}

.piiSelect {
  width: 170px;
}

/* NameNamespaceAutosuggest */
.entitySetInput {
  height: 40px;
  width: 200px;
}

/* PermissionsPanel */
.updateSuccess {
  color: green;
  padding-top: 10px;
}

.permissionsBodyContainer {
  margin: 0 auto;
  height: 200px;
  width: 300px;
  overflow: scroll;
  text-align: left;
  padding-top: 5px;
  border: 1px solid #d1d6da;
}

.cancelButton {
  position: absolute;
  vertical-align: middle;
  font-size: 20px;
  color: #ffffff;
  right: 15px;
  top: 15px;
  width: 25px;
  height: 25px;
  background: #404345;
  border-radius: 3px;
  border: 0;
  padding-bottom: 15px;
}

.cancelButton:hover {
  background: #333435;
}

.panelTitle {
  margin-top: 25px;
  font-weight: bold;
  font-size: 20px;
  text-align: center
}

.panelContents {
  margin-top: 35px;
  text-align: center;
}

.viewWrapper {
  text-align: center;
}

.dropdownWrapper {
  width: 150px;
  margin: 0 auto;
}

.permissionInputWidth {
  width: 300px;
}

.label {
  margin-right: 5px;
}

.datatypeSelect {
  width: 200px;
  margin-top: 5px;
}

.globalLabel {
  width: 60px;
  font-size: 14px;
  text-align: center;
  margin-right: 10px;
}

.createEdmObjectButtonWrapper {
  width: 100%;
  text-align: right;
  margin-bottom: 10px;
}
