.sectionHeader {
  text-align: center;
}

.spacer {
  height: 30px;
}

.spacerSmall {
  height: 15px;
}

.objContainer {
  left: 20px;
  margin: 50px;
  background: #f1f5f8;
  padding: 20px;
  border-left: 7px solid #5a5e65;
}

.important {
  font-weight: bold;
  display: inline;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.genericButton {
  padding: 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #767a7c;
  background: -webkit-linear-gradient(#dddddd, #d1d6da);
}

.genericButtonMargin {
  padding: 10px;
  width: 80px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #767a7c;
  background: -webkit-linear-gradient(#dddddd, #d1d6da);
  margin: 10px;
}
