:local .dropdown {
  color: #ffffff;
}

/* TODO: Replace with bootstrap mixin from mixins/buttons.less, and make .btn-primary reskin */
:local .dropdown .btn, :local .dropdown .dropdown-menu, :local .dropdown .dropdown-toggle {
  border-color: #4a2498;
  color: inherit;
}

:local .dropdown .btn, :local .dropdown .dropdown-menu  {
  border-color: #4a2498;
  background: #4203c5;
}

:local .dropdown .dropdown-toggle {
  background: #260176;
}

:local .dropdown .dropdown-menu  li {
  color: #ffffff;
}

:local .dropdown .dropdown-menu  a {
  color: #ffffff;
}
