:global .dropdown {
   color: #ffffff;
 }

/* TODO: Replace with bootstrap mixin from mixins/buttons.less, and make .btn-primary reskin */
:global .dropdown .btn, :global .dropdown .dropdown-menu, :global .dropdown .dropdown-toggle {
  border-color: #4a2498;
  color: inherit;
}

:global .dropdown .btn, :global .dropdown .dropdown-menu  {
  border-color: #4a2498;
  background: #4203c5;
}

:global .dropdown .dropdown-toggle {
  background: #260176;
}

:global .dropdown .dropdown-menu  li {
  color: #ffffff;
}

:global .dropdown .dropdown-menu  a {
  color: #ffffff;
}