.search {
    color: #83858d;
    display: flex;
    flex-wrap: wrap;
}

.search :global .control-label {
    font-weight: 400;
}

.search :global .form-group {
    margin-bottom: 0;
}

.search :global .form-control {
    box-shadow: none !important;
}

.submitButton {
    height: 37px;
    width: 80px;
    margin: 23px 0 0;
    margin-left: auto;
}

.searchWrapper {
  position: relative;
  width: 100%;
  height: 30px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  height: 16px;
  top: 50%;
  margin: -8px 0 0 5px;
  z-index: 1;
}

.searchBox {
  padding: 0 30px 0 10px;
  height: 30px;
  border: none;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.paginationWrapper {
  text-align: center;
}

.bottomSpacer {
  height: 30px;
}

.userRow {
  margin-bottom: 50px;
}

.userProfile {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userProfileDetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.userProfileDetailItem {
  margin: 3px 0;
  font-size: 15px;
}

.userIcon {
  max-height: 100px;
  max-width: 100px;
}
