@import "../../core/styles/index.css";

.search {
    color: #83858d;
    display: flex;
    flex-wrap: wrap;
}

.search :global .control-label {
    font-weight: 400;
}

.search :global .form-group {
    margin-bottom: 0;
}

.search :global .form-control {
    box-shadow: none !important;
}

.submitButton {
    height: 37px;
    width: 80px;
    margin: 23px 0 0;
    margin-left: auto;
}

.searchWrapper {
  position: relative;
  width: 100%;
  height: 30px;
}

.searchIcon {
  position: absolute;
  right: 10px;
  height: 16px;
  top: 50%;
  margin: -8px 0 0 5px;
  z-index: 1;
  cursor: pointer;
}

.searchBox {
  padding: 0 30px 0 10px;
  height: 30px;
  border: none;
  width: 100%;
  z-index: 0;
  position: absolute;
}

.paginationWrapper {
  text-align: center;
}

.searchToggle {
  text-align: center;
  margin-bottom: 10px;
}

.bottomSpacer {
  height: 30px;
}

.userListContainer {
  margin-bottom: 10px;
}

.userProfile {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userProfileDetails {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.userProfileDetailItem {
  margin: 3px 0;
  font-size: 15px;
}

.userIcon {
  max-height: 100px;
  max-width: 100px;
}

.backButton {
  margin-bottom: 15px;
}

.userListItem {
  position: relative;
  left: 50%;
  margin-left: -170px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: left;

}

.userListItem:hover {
  background: #f3f5f7;
  cursor: pointer;
}

.textCell, .textCellUnclickable {
  height: 40px;
  overflow: auto;
}

.textCell:hover {
  cursor: pointer;
}

.advancedSearchBox {
  border-radius: 3px 0 0 3px;
  border: solid 2pt #a3a8ab;
  font-weight: 400;
  box-shadow: none !important;
  margin-bottom: 10px;
  height: 34px;
  width: 97% !important;
}

.exactMatchLabel {
  margin: 0 0 -20px 97%;
}

.advancedSearchCheckbox {
  width: 3%;
  background: rgb(204, 204, 204);
  display: inline-block;
  text-align: center;
  height: 34px;
  padding-top: 6px;
  border-radius: 0 3px 3px 0;
  border: solid 2pt #a3a8ab;
  border-left: 0;
}

.formItemWrapper {
  height: 45px;
}

.changeSearchView {
  right: 0;
  display: inline-block;
}

.titleLink, .titleLink:hover {
  color: inherit
}

.spacerSmall {
  height: 15px;
}

.associationGroupTitle {
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.neighborGroupTitle, .neighborGroupTitleUnclickable {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.neighborGroupTitle:hover {
  text-decoration: underline;
  color: black
}

.neighborContainer {
  margin: 10px 0;
}

.countHeaderCell {
  color: white;
  background-image: linear-gradient(#66686a, #535557);
}

.viewToolbar {
  margin-top: 20px;
  text-align: center;
}

.timelineDate {
  font-size: 14px;
  font-weight: bold;
}

.timelineTitle {
  font-size: 14px;
}

:global .public_fixedDataTableRow_even:hover .public_fixedDataTableCell_main {
  background-color: #eeeff0;
}

:global .public_fixedDataTableRow_odd:hover .public_fixedDataTableCell_main {
  background-color: #eeeff0;
}
