.buttonStyle {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    padding: 10px;
    border: none;
    background: #d1d6da;
}

.buttonStyle:hover {
    background: #c7cbcf;
}

.selectedButtonStyle {
    background: #b9bdc0;
    font-weight: bold;
}

.selectedButtonStyle:hover {
    background: #a0a4a6;
}

.simpleButton {
    display: inline-block;
    margin: auto 10px auto 5px;
    padding: 0 10px;
    line-height: 35px;
    background: #d1d6da;
    border-radius: 3px;
    border: 0;
    color: #000000;
    text-decoration: none;
}

.simpleButton:hover {
    background: #d8dcdf;
}

.genericButton {
    padding: 10px;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #767a7c;
    background: -webkit-linear-gradient(#dddddd, #d1d6da);
}

.genericButton:hover {
    background: #d8dcdf;
}

.addButton {
    color: #39de9d;
    background: none;
    border: none;
    display: flex;
    flex: 0;
    margin: auto 5px;
}

.addButton:hover {
    color: #09a34d;
}

.deleteButton {
  color: #e91e63;
  background: none;
  border: none;
  display: flex;
  flex: 0;
  margin: auto 5px;
}

.deleteButton:hover {
  color: #b90b14;
}


.dropdownButtonContainer {
    float: right;
}
