.edmNavbarContainer {
    text-align: center;
    padding-top: 15px;
}

.edmNavbar {
    height: 30px;
    background: #d1d6da;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    border-radius: 4px;
}
