/* Default Styles */
:global .propertyTypeList {
    display: table;
    width: 100%;
    font-size: 16px;
}

:global .propertyTypeListHeader, :global .propertyType {
    display: table-row;
}
:global .propertyTypeListHeader {
    font-weight: 600;
}

:global .propertyType:nth-child(even) > div {
    background: #f3f5f7;
}
:global .propertyTypePermissions,
:global .propertyTypeTitle,
:global .propertyTypeDescription,
:global .propertyTypeListPermissions,
:global .propertyTypeListTitle,
:global .propertyTypeListDescription {
    display: table-cell;
    padding: 15px;
}
:global .propertyTypeTitle, :global .propertyTypeListTitle {
    padding-left: 0;
}
:global .propertyTypePermissions, :global .propertyTypeListPermissions {
    padding: 0 2px 0 15px;
    width:15px;
}
:global .propertyTypePermissions :global .checkbox {
    margin: 0;
}
:global .propertyTypeTitle, :global .propertyTypeListTitle {
    border-right: 1px solid #c9cfd3;
    width: 180px
}
:global .propertyTypeDescription, :global .propertyTypeListDescription {
    text-align: justify;
}