*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  font-size: 16px;
}

body {
  color: var(--dark);
  font: 400 15px/22px 'Lato', 'Helvetica Neue', 'Open Sans', Sans-serif;
  font-smoothing: antialiased;
  padding: 0;
  margin: 0;
}
