/* text styling */

.entitySetName {
  font-size: 16px;
}

/* utils */

.inlineBlock {
  display: inline-block;
}

.spacerSmall {
  height: 15px;
}

.marginLeft {
  margin-left: 5px;
}

.hidden {
  display: none;
}


/* visualization container */

.container {
  text-align: center;
}

.label {

}

.chartAndCheckboxesWrapper {
  position: relative;
  height: 300px;
}

.scatterChartContainer {
  display: inline-block;
  height: 300px;
}

.checkboxes {
  width: 20%;
  display: inline;
  position: absolute;
  left: 20px;
}

.chartWrapper {
  display: inline;
  position: absolute;
  right: 20px;
  width: 80%;
}

.xAxisSelectWrapper {
  display: flex;
  min-width: 300px;
}

.optionsBar {
  padding: 30px;
}


/* visualizations */

.visualizationContainer {
  width: 100%;
  height: 400px;
  padding: 10px;
  text-align: center;
}

.visualizationWrapper {
  display: inline;
}

.divIcon {
  height: 1px;
  width: 1px;
  color: red;
  background: red;
  border: 1px solid black;
  border-radius: 7px;
}

.map {
  height: 400px;
  width: 750px;
  text-align: center;
  display: inline-block;
}

/* buttons */

.optionButton {
  display: table-cell;
  margin: 0;
  vertical-align: middle;
  padding: 10px;
  border: none;
  background: #d1d6da;
}

.optionButton:hover {
  background: #c7cbcf;
}

.selected {
  background: #b9bdc0;
  font-weight: bold;
}

.selectButton {
  display: inline;
  min-width: 300px;
}

.listItemButton {
  width: 100%;
  background: #f1f5f8;
  border: none;
  padding: 10px;
  text-align: left;
}

.listItemButton:hover {
  background: #dde1e4;
}


/* entity set visualization list */

.entitySetFqn {
  font-style: italic;
  font-size: 14px;
  padding: 0 0 10px 10px;
}

.entitySetTitle {
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.titleLink, .titleLink:hover {
  color: inherit;
  font-size: inherit;
}
