/* Header */
.descriptionTitle {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.managePermissions {
    display: block;
    margin-top: 7px;
}

/* Body */
.propertyTypeTitle {
    margin: 0 0 25px 0;
    font-size: 21px;
    font-weight: 600;
}

.buttonWrapper {
  margin-top: 30px;
  text-align: center;
}

.center {
  display: inline-block;
}

.centerWrapper {
  text-align: center;
}

.buttonLink, .buttonLink:hover, .buttonLink:visited, .buttonLink:active {
  color: white;
  text-decoration: none;
}

.error {
  color: red;
  text-align: center;
}

.buttonText {
  margin-left: 5px;
}

.contacts {
  margin-top: 15px;
  font-style: italic;
}
