.expandTextButton {
    padding: 0;
    border: 0;
    margin: -4px 0 0 4px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 600;
    color: #0870f6;
}

.expandTextButton:hover {
    text-decoration: none;
}